.setting-line {
  margin-bottom: 20px;
  &.tabs-switcher-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      display: block;
      width: 50%;
      text-align: center;
      line-height: 44px;
      background: #0d99d544;
      font-weight: 600;
      color: #333;
      font-size: 16px;
      cursor: pointer;
      transition: .2s;

      &:first-of-type {
        border-radius: 8px 0 0 8px;
      }

      &:last-child {
        border-radius: 0 8px 8px 0;
      }
    }

    input {
      display: none;

      &:checked+label {
        background: #0d99d5aa;
        color: #fff;
      }
    }
  }

  input[type="text"] {
    width: 100%;
  }

  .search-post-box {
    width: 100%;
    position: relative;

    .search-post-box-top {
      width: 100%;
      height: 32px;
      border: .5px solid #333333;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;

      span {
        font-weight: 600;
      }
    }

    .search-post-box-bottom {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: calc(100% + 15px);
      box-sizing: border-box;
      padding: 15px;
      background: #fff;
      border-radius: 8px;
      border: .5px solid #333;
      z-index: 999;
      display: none;

      .search-variants {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-top: 16px;

          li {
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;

            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }
        }

        .pages {
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              font-size: 10px;
              display: block;
              width: fit-content;
              margin-left: 4px;
              margin-right: 4px;
              &:not(.current) {
                text-decoration: underline;
                color: #0c55da;
              }
            }
          }
        }
      }
    }

    &.active {
      .search-post-box-bottom {
        display: block;
      }

      .search-post-box-top {
        border: 1px solid #0c55da;
      }
    }
  }

  &.heading-line {
    font-weight: 600;
    margin-bottom: 10px;
  }
}